language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

before_install:
  - composer self-update

install:
  - composer require satooshi/php-coveralls:dev-master --dev

before_script:
  - composer install --prefer-dist
  - mkdir -p build/logs

script:
  - ./bin/phpunit --verbose --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar -t 3
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
